.calcField {
    margin: 0 auto;
    background: #939aa1;
    width: 600px;
    height: 600px;
    padding-top: 5px;
}

.calcResultField {
    background: white;
    height: 100px;
    width: 98%;
    margin-left: 5px;
    margin-bottom: 10px;
}

.keyboardRow {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: row;
}

.button {
    width: 140px;
    height: 70px;
    margin: 2px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid #939aa1;
    border-radius: 5px;
}

.resultButton {
    border: 1px solid #939aa1;
    border-radius: 5px;
    width: 570px;
    height: 40px;
    margin: 15px;
    font-size: 24px;
    font-weight: 600;
}

.resultText {
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    padding-right: 10px;
}

.result {
    padding-top: 10px;
    text-align: right;
    font-size: 38px;
    font-weight: 600;
    padding-right: 10px;
}